
    <% layout('layouts/boilerplate') -%>
    <div>
        <!--
            NOTE
            file送信を含むForm場合
            enctype="multipart/form-data"
            複数のfileDeletionの場合
            inputのnameをname="deleteImages[]"のように配列にする
        -->
        <h1>投稿の編集</h1>
        <form action="/posts/<%= post.id%>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
            <div><input type="text" name="post[title]" placeholder="タイトル" value="<%=post.title  %>"></div>
            <div><input type="text" name="post[price]" placeholder="金額" value="<%=post.price  %>"></div>
            <div>
                <!-- 送信するときの画像選択 -->
                <input type="file" id="imageUpload" accept="images/*" name="images" multiple />
                <!--
                    送信された画像表示
                    post.imagesをforEachすることでそれぞれを出力
                    その間にimagesが持つimage.urlやi(index), public_id等を出力
                -->
                <div>
                    <% post.images.forEach(function(image, i) { %>
                        <img src="<%= image.url %>" width="100px">
                        <label for="image<%= i %>">削除?</label>
                        <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%= i %>" value="<%= image.public_id %>">
                    <% }); %>
                </div>
            </div>
            <div><textarea name="post[description]" placeholder="内容" ><%=post.description  %></textarea></div>
            <div><input type="text" name="post[location]" placeholder="Location" value="<%=post.location  %>"></div>
            <input type="submit">
        </form>

        <script src="/javascripts/post-edit.js"></script>
    </div>
