<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>投稿一覧</h1>
    <% posts.docs.forEach(function(post) {%>
    <div>
        <h2>タイトル:<p><%= post.title %></p></h2>
        <p>金額: <%= post.price%></p>
        <p>内容: <%= post.description%></p>
        <p>場所: <%= post.location%></p>
        <a href="/posts/<%= post.id %>">詳細</a>
    </div>
    <%}); %>
</body>
</html>