    <% layout('layouts/boilerplate') -%>
    <title><%= title %></title>

    <h1>投稿一覧</h1>
    <div id="map"></div>
    <% include ../partials/paginatePost%>
    <% posts.docs.forEach(function(post) {%>
    <div>
        <h2>タイトル:<p><%= post.title %></p></h2>
        <p>金額: <%= post.price%></p>
        <p>内容: <%= post.description%></p>
        <p>場所: <%= post.location%></p>
        <a href="/posts/<%= post.id %>">詳細</a>
    </div>
    <%}); %>
    <% include ../partials/paginatePost%>

    <script>
        mapboxgl.accessToken = "<%= mapBoxToken %>";
        var posts = {features: <%- JSON.stringify(posts.docs) %>};
    </script>
    <script src="/javascripts/allPostsClusterMap.js"></script>

