
    <% layout('layouts/post-show-layout') -%>
        <div>
            <p>タイトル:<%= post.title %></p>
            <p>金額: <%= post.price%></p>
            <p>内容: <%= post.description%></p>
            <p>場所: <%= post.location%></p>
            <div>
                <% post.images.forEach(function(image){ %>
                    <img src="<%= image.url %>" alt="プログラミング画像" width="200px
                    ">
                <% }); %>
            </div>
            <div id='map'></div>
            <div>
                <a href="/posts/<%= post.id %>/edit">
                <button>編集する</button></a>
            </div>
        </div>
        <div>
            <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
            <input type="submit" value="削除">
            </form>
        </div>

        <h2>レビューをする</h2>
        <form action="/posts/<%= post.id %>/reviews" method="POST">
            <textarea name="review[body]"></textarea>
            <input type="number" min="1" max="5" step="1" required name="review[rating]"/>
            <input type="submit">
        </form>
        <h3>レビュー</h3>
        <!--- display all reviews --->
        <% post.reviews.forEach(function(review){ %>
            <div>
                <%= review.author.username %>
                <%= review.body %><br/>
                評価: <%= review.rating %>
            </div>
            <% if (review.author.equals(currentUser._id)) {%>
            <div>
                <button class="toggle-edit-form">編集</button>
                <form action="/posts/<%= post.id%>/reviews/<%= review.id%>?_method=PUT" method="POST" class="edit-review-form">
                    <textarea name="review[body]"><%= review.body %></textarea>
                    <input type="number" min="1" max="5" step="1" value="<%= review.rating %>" required name="review[rating]"/>
                    <input type="submit" value="編集">
                </form>
                <form action="/posts/<%= post.id%>/reviews/<%= review.id%>?_method=DELETE" method="POST"">
                    <input type="submit" value="削除">
                </form>
            </div>
            <% };%>
            <hr>
        <% }); %>


        <!--
            <% post.images.forEach(function(image){ %>
                    <img src="<%= image.url %>" alt="プログラミング画像" width="200px
                    ">
                <% }); %>
        -->

<!--
     title: String,
    price: String,
    description: String,
    images: [String],
    location: String,
    lat: Number,
    lng: Number,
-->